<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>407114344547-3aubmmrtkugg34cqrti9a758q447i87q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407114344547-3aubmmrtkugg34cqrti9a758q447i87q</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ977ku_nHrGP494dfPhSgCT8Ru3SV-S0</string>
	<key>GCM_SENDER_ID</key>
	<string>407114344547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KenChoi.ServiceChat</string>
	<key>PROJECT_ID</key>
	<string>servicechat-32ad5</string>
	<key>STORAGE_BUCKET</key>
	<string>servicechat-32ad5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:407114344547:ios:d145edfaf1ab597d</string>
	<key>DATABASE_URL</key>
	<string>https://servicechat-32ad5.firebaseio.com</string>
</dict>
</plist>